@font-face {
    font-family: Inter;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}


/* body */

body {
    color: #2D3440;
    max-width: 1366px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
}

.page-body {
    background-color: #FEAFC3;
}


/* all links */

.logo_main-page,
.nav-catalog_link,
.nav_link,
.nav_telefono,
.nav_search,
.nav_log-in,
.user-cabinet_link,
.user-new-password_link,
.user-registration_link,
.nav_basket,
.pop-up_basket-link-order,
.slider_link-order,
.block_raspberry-link,
.block_marshmello-link,
.products_item-link,
.footer_link-for-distributor,
.footer_link-production,
.footer_link-documents,
.footer_link-eco-standarts,
.footer_copyright-link,
.breadcrumbs_main,
.breadcrumbs_catalog,
.breadcrumbs_catalog-creamy {
    text-decoration: none;
    color: #2D3440;
}


/* titles */

.slider_title,
.shares_title,
.benefits_motivation,
.products_title,
.delivery_title,
.creamy_ice-cream {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.block_raspberry-title,
.block_marshmello-title,
.article-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.products_item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px
}


/* p */

.products_item-text,
.benefits_item-text,
.article-anons,
.form_subscribe-text,
.delivery_text,
.delivery_form-text,
.locatio_text {
    color: #565C66;
}


/* ul*/

.nav_list,
.catalog-list,
.nav_list,
.navigation_user,
.pop-up_basket-list,
.slider_small-foto-list,
.slider_social-list,
.products_list,
.benefits_list,
.footer_social-list,
.footer-links_list,
.catalog_navigation-list {
    list-style: none;
}


/* hidden class */

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* header */

.nav_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header {
    line-height: 20px;
}

.nav_telefono {
    font-weight: 700;
}

.nav_log-in {
    font-size: 14px;
}

.nav_basket {
    font-size: 14px;
}


/* main */


/* slider */

.slider_title {
    font-size: 36px;
    line-height: 46px;
}

.slider_text {
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
}

.slider_list {
    list-style: disc;
}

.slider_link-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 139px;
    height: 44px;
    background-color: #FCFCFC;
    padding: 12px 32px;
    border-radius: 26px;
    /* border: 4px solid rgba(252, 252, 252, 0.4); */
}


/* block raspberry & marshmello */

.block_raspberry,
.block_marshmello {
    width: 570px;
    height: 268px;
    background-color: #FF7799;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto 219px;
    color: #2D3440;
}

.block_raspberry-text,
.block_marshmello-text {
    color: #2D3440;
}

.block_marshmello-link,
.block_raspberry-link {
    color: #2D3440;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #FCFCFC;
    width: 176px;
    height: 44px;
    padding: 12px 32px;
    border-radius: 26px;
}

.block_raspberry {
    background-image: url("../img/raspberry.png");
}

.block_marshmello {
    background-image: url("../img/marshmello.png");
}


/* product list */

.item-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


/* article */

.article-blog {
    height: 224px;
    background: url('../img/news_background.png') no-repeat 40px -80px;
    width: 570px;
}


/* subscribe */

.forn_subscribe-button {
    color: #FCFCFC;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #FF2F64;
    padding: 12px 32px;
    border-radius: 26px;
    border: none;
}


/* delivery */

.delivery {
    width: 1170px;
    height: 534px;
    background-image: url("../img/delivery_background.png");
}

.date-delivery_label,
.phone-delivery_label,
.address-delivery_label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.delivery_form-button {
    color: #FCFCFC;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #FF2F64;
    padding: 12px 32px;
    border-radius: 26px;
    border: none;
}


/* location */

.location {
    width: 1170px;
    height: 492px;
    background-image: url("../img/contacts_background.jpg");
}

.location_address {
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.location_phone {
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.location_link {
    color: #FCFCFC;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #FF2F64;
    padding: 12px 32px;
    border-radius: 26px;
}


/* catalog */

.form_catalog-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 32px;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 20px;
}

.catalog_navigation-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 32px;
    background-color: #FCFCFC;
    border: none;
    border-radius: 20px;
}